<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generated sentence</title>
    <style>
        div {
            width: 100%;
            text-align: center;
        }
    </style>
</head>
<body>
    <a href="{{ url_for('views.restart') }}" class="home" title="Strona główna" style="position:absolute; left:10px; top:10px; font-size:20px; text-decoration:none;">
        🏠
    </a>
    <div>
        <h3>Twoje wygenerowane zdanie:</h3>
        {{sentence}}
        <br>
        <button style="margin-top: 20px;">
            <a href="{{ url_for('views.index') }}" style="text-decoration: none; color: black">Wygeneruj kolejne zdanie</a>
        </button>
    </div>

</body>
</html>